table thead{
    font-weight: 600;
}
table tr td:hover{
    background-color: #ebebeb;
    cursor: pointer;
}
table thead td{
    padding: 5px;
}
.textRemove{
	color: white;
    background: red;
    padding: 2px 5px;
    transition: all .4s;
}
.textRemove:hover{
	background: black;
}
.showX{
    background-color: #ebebeb;
}